name: Static musl build

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, next ]

jobs:
  build-static-musl:
    name: Static SDK
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: ubuntu:jammy

    steps:
    - name: Install prerequisites
      run: |
        apt-get update -q
        apt-get install -y -q curl jq tar git linux-libc-dev

    - name: Install Swift prerequisites
      run: |
        curl -s --retry 3 https://raw.githubusercontent.com/apple/swift-nio/main/scripts/install_swift_prerequisites.sh | bash

    - name: Install Swift SDK
      env:
        INSTALL_SWIFT_VERSION: latest
        INSTALL_SWIFT_ARCH: x86_64
      run: |
        curl -s --retry 3 https://raw.githubusercontent.com/apple/swift-nio/main/scripts/install_swift_sdk.sh | bash
        hash -r

    - uses: actions/checkout@v4

    - name: Swift version
      run: swift --version

    - name: Build with static musl SDK
      run: |
        swift build --swift-sdks-path /tmp/swiftsdks --swift-sdk x86_64-swift-linux-musl
